{{define "datatable_row"}}
{{- $newN := .Data "is.northern.new"  -}}
{{- $newS := .Data "is.southern.new"  -}}
{{- $new := ""  -}}
{{- $leavingN := .Data "is.northern.leaving"  -}}
{{- $leavingS := .Data "is.southern.leaving"  -}}
{{- $leaving := ""  -}}
{{- $availableN := .Data "is.northern.available"  -}}
{{- $availableS := .Data "is.southern.available"  -}}
{{- $available := "" -}}
{{- if or $newN $newS  -}}
{{- $new = " is-new"  -}}
{{- end -}}
{{- if or $leavingN $leavingS  -}}
{{- $leaving = " is-available" -}}
{{- end -}}
{{- if or $availableN $availableS -}}
{{- $available = " is-available"  -}}
{{- end -}}
<tr data-id='{{ .Data "id" }}' class="{{ $new }}{{ $leaving }}{{ $available }}">
    
    <td>
        {{- template "critter_is" . -}}
        <a href='{{ .Data "url" }}'><img src='{{ .Data "images.thumb" }}' alt='Image of {{ .Data "title" }}' title='{{ .Data "title" }}' loading="lazy" class="icon" /></a>
    </td>
    <th><a href='{{ .Data "url" }}' title='{{ .Data "title" }}'>{{ .Data "title" }}</a></th>
    
    {{if .Data "has.location" }}
    <td class='can-hide'>{{ .Data "availability.location" }}</td>
    {{end}}

    {{if .Data "availability.months.always" }}
    <td>All Year</td>
    {{else}}
    <td class="double">
        <span class='is-n'>{{ .Data "availability.months.northern.text" }}</span>
        <span class='is-s'>{{ .Data "availability.months.southern.text" }}</span>
    </td>
    {{end}}

    {{if .Data "has.shadow"}}
    <td class='can-hide'>{{ .Data "attributes.shadow" }}</td>
    {{end}}

    {{if .Data "has.speed"}}
    <td class='can-hide'>{{ .Data "attributes.speed" }}</td>
    {{end}}

    {{if .Data "has.price"}}
    <td class='price can-hide'>{{ .Data "prices.store" }}</td>
    {{end}}

</tr>

{{end}}