{{define "nav_months"}}

{{ $months := .Data "meta.links.months" }}
{{ $type := .Data "meta.type" }}

<section class='monthly-data' id="month">
    <div class='block'>
        <h3>What's new</h3>
        <p>View lists of whats new for each hemisphere per month.</p>
        <section class='grid page-nav monthly'>
            <nav class='grid grid__item monthly-navigation'>        
                {{ range $month := $months }}
                    <a href='/{{ $type }}/new/{{ $month.month_long }}/' class='grid__item month' title="New {{ $type}} for {{ $month.month_long }}">{{ $month.month_short }}</a>
                {{ end }}
            </nav>
        </section>
    </div>

    <div class='block'>
        <h3>What's leaving</h3>
        <p>Check to see when your last chance to catch that critter is!</p>
        <section class='grid page-nav monthly'>
            <nav class='grid grid__item monthly-navigation'>        
                {{ range $month := $months }}
                    <a href='/{{ $type }}/leaving/{{ $month.month_long }}/' class='grid__item month' title="Leaving {{ $type}} for {{ $month.month_long }}">{{ $month.month_short }}</a>
                {{ end }}
            </nav>
        </section>
    </div>

    <div class='block'>
        <h3>What's available</h3>
        <p>Find out what you can catch each month!</p>
        <section class='grid page-nav monthly'>
            <nav class='grid grid__item monthly-navigation'>        
                {{ range $month := $months }}
                    <a href='/{{ $type }}/available/{{ $month.month_long }}/' class='grid__item month' title="Available {{ $type}} for {{ $month.month_long }}">{{ $month.month_short }}</a>
                {{ end }}
            </nav>
        </section>
    </div>

    
</section>


{{end}}