{{define "structure_head"}}
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="/assets/ui/logos/logo.png" />
<link rel="apple-touch-icon" sizes="64x64" href="/assets/ui/logos/logo.png">
<link rel="apple-touch-icon" sizes="128x128" href="/assets/ui/logos/homescreen.png">
<meta name="apple-mobile-web-app-title" content="Critters of Animal Crossing">
<meta name="application-name" content="Critters of Animal Crossing">

<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Modak&display=swap" rel="stylesheet">    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/style.css">

<script>_globalDateFilter = false;</script>
{{end}}