{{define "structure_header"}}
<nav class="grid navigation head" id="top">
    <a class="grid__item" href="/" id="logo"><img src="/assets/ui/logos/logo.png" title="Animal Crossing" alt="logo" /></a>
    <a class="grid__item" href="/" id="home"><span>New Horizons</span></a>
    {{template "structure_navigation" }} 
</nav>
<nav class='sharing grid_always'>
    <a class="grid__item hidden share-island shared-island share" href="/shared/" title="Sharing link for my island"><span>Sharing link for my island</span></a>
    <a class="grid__item my-island share-island" href="/mine" title="My Island"><span>My Island</span></a>
</nav>
<nav class='to-top-nav'><a href="#top" class='to-top'>Top</a></nav>
{{end}}