{{ define "structure_nodata" }}

<div class='grid page__grid'>
    <section class="page__grid__img grid__item">  
        <img src="/assets/ui/npc-images/wilbur.png" alt="nothing to see here" />
    </section>
    <section class="page__grid__contents grid__item">
        <p class='important'>Bellbottom beboop this is stovetop blowtorch, do you require assistance?</p>
        <p>Sorry, looks like you've found a mystery page without any data!</p>
        
        {{- template "nav_inner" . }}

    </section>
</div>

{{end}}