{{define "data_northern"}}

    {{if .Data "availability.months.always" }}

    <li class="data__row">
        <strong class="data__row__key align__left  key key__time"><em>Northern</em><i> Hemisphere</i>:</strong>
        <span class="data__row__value align__right">All Year</span>
    </li>
    <li class="data__row">    
        <strong class="data__row__key align__left  key key__time"><em>Southern</em><i> Hemisphere</i>:</strong>
        <span class="data__row__value align__right">All Year</span>
    </li>

    {{ else }}

    <li class="data__row">
        <strong class="data__row__key align__left  key key__time"><em>Northern</em><i> Hemisphere</i>:</strong>
        <span class="data__row__value align__right">{{ .Data "availability.months.northern.text" }}</span>
    </li>


    {{end}}

{{end}}
