span.is {
    position: absolute;
    top: 0 - $paddingInner/3;
    right: 0 - $paddingInner/3;
    width: 32px;
    height: 32px;
    svg, img{
        width: 32px;
        height: 32px;    
        stroke: $headerColour;   
        @include mq($from: tablet) { 
            width: 64px;
            height: 64px;    
        }
    }

    

    @include mq($from: tablet) { 
        top: 0 - $paddingInner *1.1;
        right: 0 - $paddingInner *1.1;
        width: 64px;
        height: 64px;
    }
}



span.is-new svg,
p.is-new{
    stroke: $newColour;
    color: $newColour;
}
span.is-leaving svg,
p.is-leaving{
    stroke: $leavingColour;
    color: $leavingColour;
}


.data-table {
    span.is{
        width: 24px;
        height: 24px;
        top: 14px;
        left: -14px;
        right: auto;
        @include mq($from: desktop) {
            width: 24px;
            height: 32px;
            top: 38px;
            left: -20px;
            img {
                height: 32px;
            }
            
        }
    }
    p.is {
        display: none;
    }
}

.critter-tile{
    span.is{
        width: 48px;
        height: 48px;
        top: 28%;
        left: -14px;
    }
    p.is {
        display: none;
    }
}